* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: #ced9e0;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
}

.gutter.gutter-vertical {
  cursor: ns-resize !important;
  position: relative;
}
.gutter.gutter-vertical:after {
  content: '';
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -3px;
  z-index: 10;
}

body:not(.native-scrollbars) *::-webkit-scrollbar {
  -webkit-appearance: none;
  outline: none;
}

body:not(.native-scrollbars) *::-webkit-scrollbar:vertical {
  width: 16px;
}

body:not(.native-scrollbars) *::-webkit-scrollbar:horizontal {
  height: 16px;
}

body:not(.native-scrollbars) *::-webkit-scrollbar-button,
body:not(.native-scrollbars) *::-webkit-scrollbar-corner {
  display: none;
}

body:not(.native-scrollbars) *::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 1px;
}

body:not(.native-scrollbars) *::-webkit-scrollbar-track:vertical:corner-present {
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 2px;
}

body:not(.native-scrollbars) *::-webkit-scrollbar-track:horizontal {
  border-width: 1px 1px 0 1px;
  border-radius: 2px 2px 0 0;
}

body:not(.native-scrollbars) *::-webkit-scrollbar-thumb {
  min-height: 2rem;
  background: #ccc;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

body:not(.native-scrollbars) *::-webkit-scrollbar-thumb:hover,
body:not(.native-scrollbars) *::-webkit-scrollbar-thumb:active {
  background-color: #999;
  border-width: 4px
}