.service-log-app-result {
  background: linear-gradient(180deg, rgba(167,182,194,1) 0%, rgba(191,204,214,1) 100%);
  overflow: auto;
  overflow-y: scroll;
}

.service-log-app-result.no-scroll {
  overflow-y: hidden;
}

.service-log-app-result-footer {
  margin-top: 0.25em;
  margin-bottom: 1em;
  text-align: center;
}