.service-log-app-result {
  background: transparent;
  overflow: auto;
}

.service-log-app-result.no-scroll {
  overflow-y: hidden;
}

.service-log-app-result-footer {
  margin-top: 0.25em;
  margin-bottom: 1em;
  text-align: center;
}