.service-log-app-result {
  background: #95a7b3;
  overflow: auto;
}

.service-log-app-result.no-scroll {
  overflow-y: hidden;
}

.service-log-app-result-footer {
  margin-top: 0.25em;
  margin-bottom: 1em;
  text-align: center;
}

body:not(.native-scrollbars) .service-log-app-result::-webkit-scrollbar-thumb:hover,
body:not(.native-scrollbars) .service-log-app-result::-webkit-scrollbar-thumb:active {
  background-color: #e0e0e0;
  border-width: 4px
}