.service-log-infobox {
  border: none;
  margin-top: 1em;
  width: 100%;
}

.service-log-infobox th {
  color: rgb(107, 107, 107);
  text-align: right;
  vertical-align: top;
  width: 150px;
}

.service-log-infobox td {
  padding-left: 0.5em;
  text-align: left;
  vertical-align: top;
}

.service-log-infobox ol {
  counter-reset: steps;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-log-infobox ol li {
  counter-increment: steps;
}

.service-log-infobox ol li::before {
  background: rgb(107, 107, 107);
  border-radius: 50%;
  content: counter(steps);
  color: white;
  display: inline-grid;
  height: 1.2em;
  line-height: 1.2em;
  margin-right: 0.5rem;
  place-items: center;
  width: 1.2em;
}
